# Main base url for domain
REACT_APP_BASE_URL = "https://wyldpay.herokuapp.com"

# Cloudinary link for uploading images
REACT_APP_CLOUDINARY_LINK = "https://api.cloudinary.com/v1_1/wyldfood/image/upload"
