@use '../base' as *

.pay-form
    .container
        max-width: 50%
        padding-left: 15px
        padding-right: 15px
        margin-left: auto
        margin-right: auto
        padding-bottom: 2rem

        h3
            font-size: 3rem
            color: $black
            margin-bottom: 1.5rem

        p
            color: $light-color
            font-size: 1.5rem
            line-height: 1.5

        form
            padding: 2rem 0

            .input-break
                display: flex
                gap: 4rem

            .input-group
                margin: 0 0 1rem
                width: 100%

                .error
                    color: #cc0000
                    font-size: 1.3rem
                    display: inline-block
                    margin-top: .25rem

            input
                outline: 0
                background: $gray-bg
                width: 100%
                border: 0
                padding: 15px
                box-sizing: border-box
                font-size: 1.5rem
                border-radius: 3px
                color: $black

        .check
            display: flex
            align-items: baseline
            gap: 1rem
            margin: 2rem 1rem 1rem 1rem

            input[type="checkbox"]
                width: fit-content
                transform: scale(1.25)
                cursor: pointer
                transition: 0s !important

                &:checked
                    // filter: hue-rotate(240deg)
                    filter: hue-rotate(345deg)

            span
                color: $light-color
                font-size: 1.5rem
                line-height: 1.5

        .btn-container
            display: flex
            justify-content: center

            .btn
                width: 100%

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button
            -webkit-appearance: none
            margin: 0

        input[type=number]
            -moz-appearance: textfield

@media (max-width:768px)

    .pay-form
        .container
            max-width: 95% !important
