@use './base' as *

.header
  position: sticky
  top: 0
  left: 0
  right: 0
  z-index: 1000
  background: $white
  box-shadow: $box-shadow
  display: flex
  align-items: center
  justify-content: space-between
  padding: 2rem 9%

  .logo
    font-size: 2.5rem
    font-weight: bolder
    color: $black

    i
      padding-right: .7rem
      color: $green

  .navbar
    a
      font-size: 1.7rem
      margin: 0 1rem
      color: $light-color

      &:hover
        color: $green

  .icons
    display: flex
    gap: 5px

    .menu-custom, .cart-custom
      height: 4.5rem
      width: 4.5rem
      line-height: 4.5rem
      font-size: 2rem
      background: $light-bg
      color: $black
      border-radius: .5rem
      margin-left: .3rem
      cursor: pointer
      text-align: center

      &:hover
        color: $white
        background: $green

    .quantity
      position: absolute
      right: 0
      bottom: 0
      width: 1.5rem
      font-size: 1.3rem
      height: 1.5rem
      border-radius: 50%
      border: 1px solid
      line-height: normal
      display: flex
      justify-content: center
      align-items: center
      background-color: $green
      color: $white
      padding: 8px
      user-select: none
      transform: translate(25%, 25%)

      &:hover
        color: $green
        background-color: $white

  #menu-btn
    display: none

  @keyframes fadeUp
    0%
      transform: translateY(5rem)
      opacity: 0
