@use '../base' as *

.menu-categories
  display: flex
  scroll-behavior: smooth
  overflow-x: auto
  flex-flow: row nowrap
  padding: 1px
  margin: 0

  &::-webkit-scrollbar
    height: 0px

  .category-item
    margin: 1rem 0rem 0rem 1rem
    padding: 1rem
    border: 1px solid #e6e6e6
    border-radius: 7px
    font-size: 1.6rem
    user-select: none
    color: rgba(0, 0, 0, 0.5)
    cursor: pointer
    text-transform: capitalize

  .active
    color: #fff
    background-color: $second-color
    // color: rgba(0, 0, 0, 1)
    // border-bottom: 1px solid #000
    padding-bottom: 0.5rem

.menu-categories-fixed
  width: 460px
  position: sticky
  top: 0
  background: #fff
  padding: 1rem 1rem 2rem 0rem
  z-index: 99

@media (max-width: 768px)
  .menu-categories-fixed
    width: 100% !important

.category
  text-transform: capitalize
  @include grid(16rem)

  .box
    padding: 2rem
    text-align: center
    border-radius: .5rem
    background: $light-bg

    &:hover
      background: $main-color

      h3
        color: $white

    img
      height: 7rem

    h3
      font-size: 1.8rem
      color: $black
